name: Make

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
      - name: Install dependencies (npm install)
        run: npm install --legacy-peer-deps
      - name: Make the release (npm run make)
        run: npm run make
      - name: Upload release artifact
        uses: actions/upload-artifact@v2
        with:
          path: out/make/Musikbar-*.dmg
